.hero_section {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home_hero_row {
  margin: 0 !important;
}

.home_hero_col {
  width: 100% !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_hero_col > h2 {
  padding-top: 30vh;
  max-width: 95%;
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  line-height: 61.2px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 40px;
}


