.error {
    padding-top: 200px;
    padding-bottom: 100px;
}

.error_row{
    align-items: center !important;
}

.error_col{
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_col>h4{
    font-size: 150px;
    font-weight: 700;
    line-height: 240px;
}

.arrow_icon{
    font-size: 20px;
    margin-right: 10px;
}

.error_btn>button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_btn{
    text-decoration: none;
}

@media screen and (max-width:1051px) {
    .error_bottom{
        order:-1;
    }
}