.factory{
    padding-top: 340px;
    background-image: url(../../../assets/factory/bg-line1.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.factory_bottom{
    width: 100%;
    padding-bottom: 300px;
    background-image: url(../../../assets/factory/bg-line1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.factory_content>p {
    max-width: 414px;
    margin-top: 10px;
    line-height: 25.6px;
}

.factory_content>h3 {
    color: #0E9E2F;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

.factory_imgdiv>img {
    max-width: 822px;
}

.row {
    margin: 0 !important;
    display: flex;
}

.col {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin-bottom: 80px;
}

.col:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}


@media only screen and (max-width: 1200px) {
    .factory{
        padding-top: 100px;
    }

    .factory_bottom{
        padding-bottom: 100px;
    }

    .col {
        flex-direction: column;
        align-items: center;
    }

    .col:nth-child(even) {
        flex-direction: column;
        align-items: center;
    }

    .factory_content>p{
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .factory_content>h3{
        text-align: center;
    }

    .factory_imgdiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 830px){
    .col{
        width: 100%;
        flex: 0 0 100% !important;
    }

    .factory_imgdiv>img {
        width: 100%;
    }
}