.about_card_section {
    padding: 50px 0;
    overflow-y: hidden;
}

.title{
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    color: #494B44;
    padding-left: 15px;
}

.about_card_col {
    margin-bottom: 80px;
}

.col_card_wrapp {
    height: 250px;
    position: relative;
    border-radius: 20px;
    background: #f8f8f8;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 25px;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.05);
}

.col_img_wrapp {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 6px solid #fff;
    background: #f8f8f8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
}

.col_card_content {
    margin-top: 53px;
}

.col_card_title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
}

.col_card_text {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 15px;
}

.col_card_link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col_card_navLink {
    color: #df2027;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

@media only screen and (max-width: 1300px) {
    .about_card_section {
        padding: 50px 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .col_card_wrapp {
        height: 270px;
    }
}

@media only screen and (max-width: 1039px) {
    .col_card_wrapp {
        padding: 30px 30px 50px 30px;
    }
}

@media only screen and (max-width: 991px) {
    .about_card_section {
        padding: 50px 0;
    }

    .col_card_wrapp {
        padding: 30px 30px 30px 30px;
    }
}

@media only screen and (max-width: 971px) {
    .col_card_wrapp {
        padding: 25px;
    }
}

@media only screen and (max-width: 835px) {
    .title{
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #494B44;
    }
}

@media only screen and (max-width: 768px) {
    .col_card_wrapp {
        height: auto;
    }

    .col_card_wrapp {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@media only screen and (max-width: 480px) {
    .col_card_wrapp {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 450px) {
    .title{
        font-size: 200%;
    }
}

@media only screen and (max-width: 425px) {
    .col_card_title {
        font-size: 18px;
    }

    .col_card_text {
        font-size: 14px;
    }

    .col_card_wrapp {
        padding: 15px;
    }

    .col_img_wrapp {
        width: 70px;
        height: 70px;
    }

    .col_img_wrapp>img {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 375px) {
    .col_card_title {
        font-size: 16px;
    }

    .col_card_text {
        font-size: 14px;
    }
}