.card {
  background-color: #f8f8f8;
  max-width: 390px;
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 40px;
  border-radius: 5px;
  clip-path: polygon(0 0, calc(100% - 70px) 0, 100% 70px, 100% 100%, 0 100%);
}



.card > h3 {
  font-size: 24px;
  line-height: 33.6px;
}

.card > p {
  margin-top: 5px;
  margin-bottom: 30px;
  max-width: 337px;
  line-height: 25.6px;
}

.imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card > p {
    text-align: center;
    max-width: 500px;
  }
}
