.product_detail_section {
  padding: 50px 0;
  height: 85dvh;
}

.product_detail_content > h4 {
  color: #000;
  font-size: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

.product_details_row {
  margin: 0 !important;
  height: 100% !important;
}


.product_detail_content > p {
  color: #000;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  max-width: 500px;
  margin: 20px 0;
}

.product_detail_number_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product_detail_number_box > p:nth-child(1) {
  color: #0e9e2f;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.product_detail_number_box > p:nth-child(2) {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  max-width: 200px;
  margin-left: 20px;
}

.hr {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background: #000;
}

@media only screen and (max-width: 991px) {
  .product_details_row {
    display: flex !important;
    align-items: center !important;
    flex-direction: column-reverse !important;
  }

  .product_detail_section{
    height: auto;
  }

  .product_details_col{
    margin-bottom: 20px ;
  }
}
