.home_cards{
    padding: 60px 30px;
    background: #0e9e2f;
}

.wrapper{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.choose_title>h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    display: flex;
    align-items: center;
    color: #494B44;
    margin-bottom: 30px;
}

.home_cards_row{
   display: flex;
   justify-content: space-between;
}

.home_cards_col{
    width: 40% !important;
    flex: 0 0 40% !important;
}

.home_cards_col>h3{
    font-size: 26px;
    font-weight: 700;
}

.home_cards_col>p{
    max-width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 18px;
    margin-top: 20px;
}

.home_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}

.home_card{
    width: 160px;
    height: 160px;
    background-color: #0e9e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.home_card>img{
    width: 50%;
}

.home_card>h5{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
}

@media only screen and (max-width: 1100px) {
    .home_cards_row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home_cards_col{
        width: 100% !important;
        flex: 0 0 100% !important;
    }

    .home_right{
        margin-top: 20px;
        width: 100%;
        flex: 0 0 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .home_card{
        width: 100%;
    }

    .home_card>img{
        width: 15%;
    }

}

@media only screen and (max-width: 600px) {
    .home_right{
        grid-template-columns: repeat(2, 1fr);
    }

    .home_card{
        width: 100%;
    }

    .home_card>img{
        width: 30%;
    }

}

@media only screen and (max-width: 450px) {
    .home_cards{
        padding-left: 20px;
        padding-right: 20px;
    }

    .home_card{
        width: 100%;
        padding: 4px;
        height: 120px;
    }

    .home_card>img{
        width: 40%;
    }

    .home_card>h5{
        font-size: 10px;
        color: #ffffff;
        margin-top: 6px;
    }

}


@media only screen and (max-width: 835px) {

    .choose_title>h2 {
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #494B44;
        margin-bottom: 20px;
    }
}
