.partner_section {
    padding: 30px 0 30px 0;
}

.choose_title>h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    display: flex;
    align-items: center;
    color: #494B44;
    margin-bottom: 20px;
    padding-left: 15px;
}

.scroll_div {
    background-color: #ffffff;
}

@media only screen and (max-width: 835px){
    .choose_title>h2 {
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #494B44;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 450px){
    .choose_title>h2{
        font-size: 200%;
    }
}