/* Slider elementlari bo'yicha stil o'zgarishlari */
.partners_scroll_div__SvZbS > .slick-slider .slick-slide div{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 20px 0 !important;
}


.partners_scroll_div__SvZbS .slick-slide div img {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 150px;
  height: 100%;
}


.partners_scroll_div__SvZbS .slick-prev,
.partners_scroll_div__SvZbS .slick-next {
  z-index: 999 !important;
  display: none !important;
}


.partners_scroll_div__SvZbS .slick-prev {
  left: 15px !important;
}


.partners_scroll_div__SvZbS .slick-next {
  right: 15px !important;
}


.partners_scroll_div__SvZbS .slick-prev:before,
.partners_scroll_div__SvZbS .slick-next:before {
  color: #03544c !important;
}

@media only screen and (max-width: 460px){
  .partners_scroll_div__SvZbS .slick-slide div img {
    width: 100px;
  }
}