/* Slider elementlari bo'yicha stil o'zgarishlari */
.partners_scroll_div__oF2Tq > .slick-slider .slick-slide div{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 20px 0 !important;
}


.partners_scroll_div__oF2Tq .slick-slide div img {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* width: 100px; */
  height: 100%;
}


/* .partners_scroll_div__7Iv7U .slick-prev,
.partners_scroll_div__7Iv7U .slick-next {
  z-index: 999 !important;
  display: none !important;
}


.partners_scroll_div__7Iv7U .slick-prev {
  left: 15px !important;
}


.partners_scroll_div__7Iv7U .slick-next {
  right: 15px !important;
}


.partners_scroll_div__7Iv7U .slick-prev:before,
.partners_scroll_div__7Iv7U .slick-next:before {
  color: #03544c !important;
} */