.card_employees{
    max-width: 600px;
    border-radius: 10px !important;
    object-fit: cover;
    overflow: hidden;
    background-color: #00AB09;
}

.card_employees >img{
    max-height: 600px;
}

.card_content{
    padding: 15px 25px 20px 25px;
    background-color: #00AB09;
}

.card_content >h3{
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
    line-height: 25.7px;
    margin-bottom: 15px;
}

.card_content >h5{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}