.card_comment{
    margin-top: 50px;
    padding: 40px 18px;
    border-radius: 10px;
    background-color: #F6F6F7;
    max-width: 360px;
    min-height: 540px;
}

.card_comment>h3{
    text-transform: capitalize;
}

.card_line{
    width: 100%;
    background-color: #494B44;
    height: 1px;
    opacity: .3;
    margin-bottom: 20px;
}

.card_stars{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.card_icon{
    color: #e4b50c;
}

.card_comment> h3{
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 15px;
    color: #494B44;
}

.card_comment>p{
    color: #92938F;
    line-height: 22.4px;
}

@media only screen and (max-width: 820px){
    .card_comment{
        max-width: 300px;
        padding: 30px 15px;
    }
}

@media only screen and (max-width: 690px){
    .card_comment{
        width: 100%;
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }


    .card_stars{
        justify-content: center;
    }
}
