.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content{
    box-shadow: none !important;
}

.react-3d-carousel{
    height: 685px !important;
}

.slider-left>div>i{
    color: #000000;
}

.slider-right>div>i{
    color: #000000;
}