.hero_section {
    /* background-image: url("../../../assets/home/hero-bg.png"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* padding-bottom: 20px; */
    /* z-index: 100 !important; */
}

.home_hero_row {
    margin: 0 !important;
}

.home_hero_col {
    width: 60% !important;
    flex: 0 0 60% !important;
    padding: 0 !important;
    /* padding-bottom: 100px !important; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; 
}

.home_hero_col>h2 {
    padding-top: 40vh;
    max-width: 100%;
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 61.2px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.home_hero_col>p {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    max-width: 622px;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.065em;
    color: #000000;
    margin-bottom: 45px;
}

.hero_buttons{
    /* margin-bottom: 100px; */
    display: flex;
    gap: 10px;
    /* padding-bottom: 20px; */
}

.home_right_col{
    width: 40% !important;
    flex: 0 0 40% !important;
    display: flex;
    justify-content: flex-end;
}

.home_img{
    padding-top: 150px;
    width: 400px;
    height: 400px;
}

.content{
    width: 65%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.content>h4{
    font-size: 28px;
}

.content_box>h4{
    font-size: 18px;
}

.content_box>p{
    max-width: 200px;
}

@media only screen and (max-width: 1300px) {
    .home_hero_row {
        padding: 0 20px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .home_hero_col>h2{
        font-size: 42px;
        line-height: 55px;
    }
}

@media only screen and (max-width: 1030px){
    .hero_section{
        background-position: center right;
    }

    .home_hero_col>h2{
        max-width: 100%;
        /* padding-top: 30vh; */
        font-size: 48px;
        line-height: 50px;
    }

}



@media only screen and (max-width: 996px) {
    .home_hero_col>h2 {
        padding-top: 30vh;
        font-size: 45px;
        line-height: 48px;
    }
}

@media only screen and (max-width: 954px) {

    .home_hero_col>img {
        width: 100%;
        height: 306px;
    }

    .home_hero_col>p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 900px){
    .hero_section {
        height: 120vh;
    }

    .content{
        margin: 30px auto;
        width: 88%;
        justify-content: center;
    }

    .home_hero_col{
        width: 100% !important;
        flex: 0 0 100% !important;
    }

    .home_img{
        padding-top: 10px;
    }

    .home_right_col{
        justify-content: center;
        width: 100% !important;
        flex: 0 0 100% !important;
    }
}

@media only screen and (max-width: 805px) {
    .home_hero_col>h2 {
        font-size: 42px;
        line-height: 45px;
        /* padding-top: 28vh; */
    }
}

@media only screen and (max-width: 768px) {
    .home_hero_col>img {
        width: 100%;
        height: 290px;
    }

    .home_hero_col {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 767px) {

    .home_hero_col>img {
        width: 100%;
        height: 505px;
    }

    .home_hero_col>p {
        text-align: center;
    }

    .home_hero_col>h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 575px){
    .modal{
        width: 80%;
    }

    .home_hero_col>h2 {
        /* padding-top: 26vh; */
        font-weight: 600;
        font-size: 39px;
        line-height: 42px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 568px) {
    .home_hero_col>img {
        display: none;
    }

    .home_img{
        width: 300px;
        height: 300px;
    }

    .home_hero_col>h2{
        font-size: 30px;
    }
}



@media only screen and (max-width: 400px) {
    .hero_buttons{
        flex-direction: column;
    }

    /* .hero_section{
        height: 85vh;
    } */

    .home_hero_col>h2 {
        /* padding-top: 25vh; */
        font-size: 26px;
        font-weight: 900;
        line-height:40px;
    }
}
